
:root {
  --typography-spacing-vertical: 1.00rem;
  --block-spacing-vertical: calc(var(--spacing) * 2);
  --block-spacing-horizontal: var(--spacing);
  --grid-spacing-vertical: 0;
  --grid-spacing-horizontal: var(--spacing);
  --form-element-spacing-vertical: 0.75rem;
  --form-element-spacing-horizontal: 1rem;
  --form-label-font-weight: var(--font-weight);
  --transition: 0.2s ease-in-out;
}

.container,
.container-fluid {
  width: 100%;
  padding-top: 0px;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing);
  padding-left: var(--spacing);
}

@media (min-width: 576px) {
  .container {
    max-width: 510px;
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 700px;
    --font-size: 16px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 920;
	 --font-size: 17px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 920px;
	 --font-size: 18px;
  }
}



.hero-image {
  /* background-image: url("/img/headers/computers-1920.jpg"); */
  background-color: var(--primary);
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;}

.hero-text {
  font-family: Oswald;
  text-align: center;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);}

.hero-text h1 {
   font-family: Oswald;
   font-size: 3em;
	text-transform: uppercase;
	color: white;
   line-height: 1em;
	margin-bottom: 0px; }
.hero-text h3 {
	color: white;
   font-weight: normal;
	font-size: 0.9em;}
.hero-text a {
	color: white;
	text-decoration: none;}

nav { 
	justify-content: center; }

article h2 {
	font-family: Oswald;
	margin-bottom: 0px; }



article {
	font-family: Ubuntu, sans-serif;}

article h3 {
	margin-bottom: 0.5em;}

article>header {
	margin-bottom: 2em;
}


footer {
	text-align: center;
}

footer span { 
color: var(--muted-color); 
font-size:0.8em;
text-align: center;
}

.post-meta {color: var(--muted-color); font-size:0.8em}

figure img {
	display: block;
	margin: 10px auto; }

figure figcaption {
	font-size: 0.8em;
	padding-top: 2px;
	text-align: center;}

img.sideImage {
	float: right;
	padding-left: 25px;
	padding-bottom: 10px;
	padding-top: 10px;
	padding-right: 15px;}

.permalinkHash a {
	float: left;
	margin-left: -1.0em;
	color: purple;
	opacity: 0.3;
	font-weight: normal;
	font-size: 14px;
	cursor: pointer;
	text-decoration: none;}

svg.icon {
	padding-bottom: 3px;}

article img {
	margin-bottom: 10px;}

img.icon {
	margin: 0px;
}

.quote {
  margin-bottom: 1em;
  background: var(--blockquote-border-color);
  padding: 1em;
  border-radius: 0.5em;
}
.quote figcaption {
	margin: 0.5em;
	text-align: right;
}
.quote blockquote {
	margin: 1em;
}